.wholeForm {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2%;
}

.boxInput {
  width: 1400px;
  margin-bottom: 3%;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  outline: none;
  border: 0px 0px 0px 3px solid #ccc;;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  resize: vertical;
}
input[type="text"]:focus {
  border: 3px solid blue;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid black;
  -webkit-transition: 0.5s;
  transition: 0.5s;

  outline: none;
  resize: vertical;
}
textarea:focus {
  border: 3px solid #686d8c;
}

.formDivs {
  margin-top: 2%;
  margin-bottom: 1%;
  width: 85%;
  display: inline-block;
  text-align: left;
}

#barr
{
  margin-left: -5%;
}