#testing
{
    width: 600px;
    height: 200px;
    box-shadow: 7px 7px 2px 1px rgba(0, 0, 1, 0.219);
    background-color: white;
    border-width: 2px;
    border-radius: 10px;
    margin-top:10%;
    margin-left: 10%;
    display: inline-block;
    padding: 1%;
    padding-left: 3%;
    padding-top: 3%;
}
#testing:hover
{
    background-color: #FFE06A;
}

#message
{
    font-weight: 5500;
    color: #37A1DD;
    font-size: 18px;
    text-align: left;
    font-family: Karla;
}

#postTittle
{
    color: black;
    text-align: left;
    font-weight: 600;
    margin-top: 20px;
}

#liIcon
{
    float:left;
    margin-right: 10px;
    margin-top: 10px;
}

#messageCard
{
    float: left;
}