#leftbutton {
    margin: 2%;
}
#rightbutton {
    margin: 2%;
}
.button {
    height: 50px;
    width: 200px;
}
.navbar {
    background-color: #F2D091;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.link {
    color: black;
    text-decoration: none;
}