
.input{
    width:55% !important;
    display:block;
    margin-bottom: 3% !important;
    margin: auto;
    height: 75px !important;
    background-color:  #E6E6E6 !important;
    border-radius: 5px !important;
    border:none !important;
}
.container{
    padding-top:7%;
    font-family: 'Karla';
}
.button{
    font-family: 'Karla';
    text-decoration:none;
    display:inline-block;
    margin-bottom: 20px;
    width: 250px;
    background-color:#FFE06A !important;
    height: 50px;
    border:none !important;
    border-radius: 5px;

}